/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import SideBar.sass
@import Modals.sass
@import Buttons.sass
@import MovieCards.sass
@import MediaDetails.sass
@import ThemePresets.sass

body
    height: fit-content
    min-height: 100vh
    background: linear-gradient(200.96deg, red -29.09%, green 51.77%, blue 129.35%)

#root
    top: 0
    left: 0
    width: 100%
    height: 100%
    margin: 0

#layout
    display: flex

#mainContainer
    margin-top: 90px


// CUSTOM SCROLLBAR

::-webkit-scrollbar
    width: 10px

/* Track */
::-webkit-scrollbar-track
    background: #f1f1f1

/* Handle */
::-webkit-scrollbar-thumb
    background: #888

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: #555
