// Default modal settings

// Titlebar of the modal
.modalTitleBar
    background-color: green

// Modal content
.modalPaper
    background-color: grey
    &.about
        padding: 5px 10px 5px 10px
    &.video
        width: 100%
        height: 100%
        background-color: black
        &.backButton
            width: 150px
            color: white
            background-color: pink
            position: absolute
            top: 30px
            left: 10px

// Background of the modal
.modalBackdrop
    position: fixed
    top: 0
    left: 00
    right: 0
    bottom: 0
    z-index: 9999
    background-color: rgba(0,0,0,0.7)
    backdrop-filter: blur(5px)
